$danger-color: #dc3545;
$primary-color: #0D6EFD;
$secondary-color: #6C757D;
$success-color: #198754;
$warning-color: #FFC107;
$dark-color: #212529;
$info-color: #0DCAF0;

$purple: #6F42C1;
$pink: #D63384;
$brown: #795548;

$spacer: 1rem;

$transition: all .3s ease;
