@import "~bootstrap/dist/css/bootstrap.min.css";
@import "utils/_variables.scss";
@import "utils/_mixins.scss";

a {
    text-decoration: none;
}

.auth-intro {
    background-image: url('https://cutt.ly/Nj8zZSu');
    background-size: cover;
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0, .6);
        z-index: -1;
    }
}

.fs-7 {
    font-size: 14px;
    letter-spacing: 0.25px;
}

.preloader-wrapper {
    @include center-content;

    width: 100%;
    height: 80vh;

    .spinner-border {
        width: 10rem;
        height: 10rem;
    }
}

.note {
    transition: all .3s ease;

    .card-title {
        font-size: 17px;
    }
}

.note.bg-dark {
    border: 1px solid $secondary-color;
    background-color: rgba($dark-color, .4) !important;
}

.note.bg-success {
    background-color: rgba($success-color, .4) !important;
}

.note.bg-warning {
    background-color: rgba($warning-color, .4) !important;
}

.note.bg-primary {
    background-color: rgba($primary-color, .4) !important;
}

.note.bg-danger {
    background-color: rgba($danger-color, .4) !important;
}

.note.bg-info {
    background-color: rgba($info-color, .4) !important;
}

.note.bg-secondary {
    background-color: rgba($secondary-color, .4) !important;
}

.notes-empty {
    font-size: 7rem;
}

.tags-empty {
    i {
        font-size: 1.6rem;
    }
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .7) !important;
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;

    .btn {
        height: 26px !important;
        margin-left: 5px;
        margin-bottom: 10px;
    }
}

.btn-close {
    background-image: none;
    font-size: 1.7rem;
}

.w-80 {
    width: 80%;
}
